html {

    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.winner {
    color: green;
    transition: color ease .2s;
}

.loser {
    color: red;
    transition: color ease-out .2s;
}



.section {
    margin-top: 3%;

}

.card {
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.20),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background-color: #fff;
}

.title {
    margin-bottom: 2rem;
    margin-top: -1rem;
}